body {
  overflow-x: hidden;
}

.logo-swiper {
  padding: 40px 0;
}

.logo-swiper .swiper-slide {
  opacity: 0.4;
  transform: scale(0.85);
  transition: all 0.4s ease;
}

.logo-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1.55);
  z-index: 10;
}
