*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: "#FAFAFA";
}

@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Styling for pagination bullets */
.custom-pagination span{
  width: 20px; /* Width of the bullet */
  height: 5px; /* Height of the bullet */
  background-color: #ffffff; /* Tailwind gray-300 */
  border-radius: 60px; /* Make the bullets rounded */
  transition: all 0.3s ease; /* Smooth transitions */
  opacity: 1;
}

.custom-pagination2 span{
  width: 20px; /* Width of the bullet */
  height: 5px; /* Height of the bullet */
  background-color: #00000066; /* Tailwind gray-300 */
  border-radius: 60px; /* Make the bullets rounded */
  transition: all 0.3s ease; /* Smooth transitions */
  opacity: 1;
}

/* Active bullet */
.custom-pagination .swiper-pagination-bullet-active {
  background-color: #0BB501; /* Active color: green */
}

.custom-pagination2 .swiper-pagination-bullet-active {
  background-color: #0BB501; /* Active color: green */
}

/* scrollbar hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* global.css */
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background-color: #16a34a; /* green-600 */
  cursor: pointer;
}



/*Swipper Clases*/

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet.custom-bullet {
  width: 8px;
  height: 8px;
  background-color: #9ca3af; /* gray-400 */
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active.custom-bullet {
  width: 12px;
  height: 12px;
  background-color: #15803d;
}
